<div style="background-color: #FFD700; color: #333333; padding: 10px;">

# **Human Resources Analysis Predict Attrition**

</div>

<div style="background-color: #f0f0f0; color: #000000; padding: 10px;">
  <strong>Project Contributors</strong>
  <ul>
    <li>Gonçalo Alves</li>
    <li>Gonçalo Eloy</li>
    <li>Maria Beatriz Amado</li>
    <li>Mariana Pereira</li>
  </ul>
</div>

<div style="background-color: #3399CC; color: white; padding: 10px;">
<a id='scrub'>
<h3 style="color: white;"><strong>Introduction</strong></h3>
</a>
</div>

<div style="background-color: #333333; color: #ffffff; padding: 1px;">
This project aims to predict employee attrition within a specific company's workforce. 

As data scientists, our goal is to create a model that estimates the likelihood of an employee staying or quitting based on their characteristics. 

Despite the complexity and incomplete data, our model will assist the HR team in taking preventive measures to reduce attrition, such as adjusting salaries, promoting engaging projects, and offering remote work options. This project provides a valuable opportunity to explore feature extraction from diverse data sources and addresses key questions for a multinational consultancy firm regarding employee retention. 

Our main objectives encompass descriptive analytics to uncover correlations and predictive analytics to build classification models for attrition prediction.

<div>

In [22]:
#pip install --upgrade pip
#pip install pandas
#pip install --upgrade pip
#pip install matplotlib
#pip install seaborn

<a id='toc'></a>

### Table of Contents
* 1. [Obtain Data](#obtain-data)
    * [1.1 Load Libraries](#lib)
    * [1.2. Import data](#import)<br>
    * [1.3. Dimensionality of the dataframe](#dim)<br>
    * [1.4. Check missing values](#miss)<br>

* [2. Scrub data](#scrub) <br>
    * [2.1. Information about columns](#info) <br>
    * [2.2. Checking duplicate values](#duplicates)<br>
    * [2.3. Missing values](#var)<br>
        * [2.3.1. Categorical Variables](#cat)<br>
        * [2.3.2. Numerical Variables](#num)<br>
    * [2.4. Data Cleaning: Outliers](#out)<br> 

* [3. Explore data](#explore) <br>
        * [3.1. Basic Exploration](#exp)<br>
        * [3.2. Data Visualization](#vis)<br>
        * [3.3. Statistical Exploration](#stat)<br>


* [4. Model](#model) <br>
* [5. Interpret](#int) <br>

<div id="obtain-data"></div>
<div style="background-color: #3399CC; color: white; padding: 10px;">
<a id='scrub'>
<h3 style="color: white;"><strong>1. Obtain Data</strong></h3>
</a>
</div>


**__`1.1`__ Load Libraries** 

<a id='lib'></a>

In [21]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

**__`1.2`__ Import data**

<a id='import'></a>

In [11]:
data= pd.read_csv("https://raw.githubusercontent.com/beatrizamado/HR-Analysis/main/HR_DS.csv")
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

**__`1.3`__ Dimensionality of the dataframe**

<a id='dim'></a>

In [12]:
data.shape

(1470, 35)

<span style="font-size:small">Dataset has high dimensionality, over 30 attributes. We will have to perform data reduction.</span>

**__`1.4`__ Checking missing values**

<a id='miss'></a>

In [13]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

<div style="background-color: #3399CC; color: white; padding: 10px;">
<a id='scrub'>
<h3 style="color: white;"><strong>2. Describe Data</strong></h3>
</a>
</div>

**__`2.1`__ Information about columns**

<a id='info'></a>

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [15]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

**__`2.2`__ Checking duplicates**

<a id='duplicates'></a>

In [16]:
duplicates=data[data.duplicated()] # save all duplicate rows
print("There are {} duplicates.".format(list(data.duplicated()).count(True)))
data.drop_duplicates(inplace = True) #remove duplicates

data.reset_index(inplace=True)
data.drop("index", inplace=True, axis=1)
print("\n")
print("All the duplicates were saved in a dataframe named:'Duplicates'")

There are 0 duplicates.


All the duplicates were saved in a dataframe named:'Duplicates'

**__`2.3`__ Missing values**

<a id='var'></a>

In [17]:
categoricalVar = data.select_dtypes(include=['object']).columns.tolist()
numericalVar= data.select_dtypes(exclude=['object']).columns.tolist()

print("\nThe numerical variables are: \n{}.".format((numericalVar)))
print("\nThe non-numerical variables are:\n{}.".format(categoricalVar))

print("\nIn summary:")
pd.DataFrame(([categoricalVar, numericalVar]),index = ['Categorical Variables', 'Numerical Variables']).T

The numerical variables are:
['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager'].

The non-numerical variables are:
['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime'].

In summary:

   Categorical Variables       Numerical Variables
0              Attrition                       Age
1         BusinessTravel                 DailyRate
2             Department          DistanceFromHome
3         EducationField                 Education
4                 Gender             EmployeeCount
5                JobRole            EmployeeNumber
6          MaritalStatus   EnvironmentSatisfaction
7                 Over18                HourlyRate
8               OverTime            JobInvolvement
9                   None                  JobLevel
10                  None           JobSatisfaction
11                  None             MonthlyIncome
12                  None               MonthlyRate
13                  None        NumCompaniesWorked
14                  None         PercentSalaryHike
15                  None         PerformanceRating
16                  None  RelationshipSatisfaction
17                  None             StandardHours
18                  None          StockOptionLevel
19                  None         TotalWorkingYears
20                  None     TrainingTimesLastYear
21                  None           WorkLifeBalance
22                  None            YearsAtCompany
23                  None        YearsInCurrentRole
24                  None   YearsSinceLastPromotion
25                  None      YearsWithCurrManager

**__`2.3.1.`__ Categorical Variables**

<a id='cat'></a>

In [18]:
pd.DataFrame(data[categoricalVar]).describe()

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
count,1470,1470,1470,1470,1470,1470,1470,1470,1470
unique,2,3,3,6,2,9,3,1,2
top,No,Travel_Rarely,Research & Development,Life Sciences,Male,Sales Executive,Married,Y,No
freq,1233,1043,961,606,882,326,673,1470,1054

**__`2.3.2.`__ Pandas Profilling**

<a id='cat'></a>

In [ ]:
pip install pandas-profiling

In [ ]:
pip install pydantic-settings

In [1]:
from pydantic_settings import BaseSettings

In [ ]:
from pandas_profiling import ProfileReport

**__`2.3.3.`__ Cardinality**

<a id='cat'></a>

**__`2.3.4.`__ Correlations**

<a id='cat'></a>

In [ ]:
pip install

<div style="background-color: #3399CC; color: white; padding: 10px;">
<a id='scrub'>
<h3 style="color: white;"><strong>3. Feature Engineering</strong></h3>
</a>
</div>

##### **New Feature Creation**

**Variable: PercentSalaryHike**

Consider binning it into the following categories:
- Small Increase
- Medium Increase
- High Increase

<div style="background-color: #3399CC; color: white; padding: 10px;">
<a id='scrub'>
<h3 style="color: white;"><strong>4. Model</strong></h3>
</a>
</div>

**Logistic Regression**

**NN**

<div style="background-color: #3399CC; color: white; padding: 10px;">
<a id='scrub'>
<h3 style="color: white;"><strong>5. Interpret</strong></h3>
</a>
</div>